doctype html
html
    head
        meta(charset='utf-8')
        title { Walter Full Stack }
        link(ref="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        meta(name="theme-color", content="#ee0979")
        link(rel="icon", href="img/favicon.ico")
        link(href="css/normalize.css", rel="stylesheet")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.12/css/all.css", integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9", crossorigin="anonymous")
        link(href="css/style.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width")
        script(src="js/init.js")
    body
        header
            h1 {Walter Nascimento Barroso}
            h2 Full Stack Developer
            a(href='#header')
                span 
                    i.fas.fa-arrow-down.centerarrow

        main
            .timeline
                .container.left
                    .content
                        h2 W3bsoftwares
                        p
                            | Desenvolvimento de sistemas e aplicativos para celular.
                .container.right
                    .content
                        h2 Freelancer
                        p
                            | Desenvolvimento de sistemas, Sites, E-commerce e aplicativos para celular.
                .container.left
                    .content
                        h2 Macrosistemas
                        p
                            | Manutenção em uma api laravel.
                .container.right
                    .content
                        h2 M2Smart Solutions
                        p
                            | Desenvolvimento de sistemas com base nos requisitos define na fase de análise, criação de sistemas usando tecnologías PHP, HTML5, JavaScript e CSS3 e os frameworks ZendFramework2, ExtJS, BootStrap e ORM Doctrine2, como SGBD PostgreSQL, Desenvolvimento de sites, sistemas Desktops e aplicativos para celular.
                .container.left
                    .content
                        h2 Senac
                        p
                            | Ministrar cursos na área de informática, com foco em Banco de Dados, Desenvolvimento WEB, Orientação a Objetos e JAVA WEB.
                .container.right
                    .content
                        h2 INPA
                        p
                            | Instalação e configuração de sistemas operacionais, instalação e configuração de software em geral, suporte ao cliente, atualização de sistemas e manutenção de micros.
                              
        
        a(href="#")#toTop Up
        
        .whatsapp
            div
                a#whatsapplink(target="_blank") 
                    img(style="height: 48px;", src="img/whatsapp-icon.svg", alt="WhatsApp chat")


        footer
            span © 2018 Walter Nascimento Barroso
            i.fas.fa-mobile-alt &nbsp; (95) 99171-2790
            ul
                li
                    a(href="https://github.com/walternascimentobarroso", target="_blank", title="Github").icon.icon-github
                        i.fab.fa-github
                li
                    a(href="https://www.linkedin.com/in/walternascimentobarroso", target="_blank", title="Linkedin").icon.icon-linkedin
                        i.fab.fa-linkedin
                li
                    a(href="mailto:walter.tir@gmail.com", target="_blank", title="Email").icon.icon-envelope
                        i.far.fa-envelope
        