doctype html
html(lang='pt-BR')
    head
        meta(charset='utf-8')
        title < Walter - Full Stack Developer />
        meta(name="theme-color", content="#ee0979")
        link(rel="icon", href="img/favicon.ico")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        link(rel="stylesheet", href="css/whatsapp.css")
        link(rel="stylesheet", href="css/index.css")
        meta(name="viewport", content="width=device-width")
    body
        span(id="theme-toggle", data-theme="comic",  class="theme-toggle")
        .wrapper
            .card
                .front
                    span.name Walter Nascimento Barroso
                    span.profession Full Stack Developer
                .back
                    .header
                        span.fullname Walter Nascimento Barroso
                        span.description Full Stack Developer
                        span.divider
                    .main
                        a(href="#")
                            i.fa.fa-phone(aria-hidden='true')
                            | &nbsp; (95) 99171-2790
                        a(href="https://github.com/walternascimentobarroso", target="_blank", title="Github")
                            i.fab.fa-github
                            | &nbsp; walternascimentobarroso
                        a(href="https://www.linkedin.com/in/walternascimentobarroso", target="_blank", title="Linkedin")
                            i.fab.fa-linkedin
                            | &nbsp; walternascimentobarroso
                        a(href="#")
                            i.fa.fa-envelope(aria-hidden='true')
                            | &nbsp; walternascimentobarroso@gmail.com
                    .footer

        script(src="js/whatsapp.js")
        script(src="js/init.js")