doctype html
html(lang='pt-BR')
    head
        meta(charset='utf-8')
        title { Walter Full Stack }
        meta(name="theme-color", content="#ee0979")
        link(rel="icon", href="img/favicon.ico")
        //- link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        link(rel="stylesheet", href="css/whatsapp.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/theme.css")
        meta(name="viewport", content="width=device-width")
    body
        span(id="theme-toggle", data-theme="comic",  class="theme-toggle")
        header
            h1 {Walter Nascimento Barroso}
            h2 Full Stack Developer
            a(href='#header')
                span 
                    i.fas.fa-arrow-down.centerarrow

        main

        footer
            span © 2018 Walter Nascimento Barroso
            i.fas.fa-mobile-alt &nbsp; (95) 99171-2790
            ul
                li
                    a(href="https://github.com/walternascimentobarroso", target="_blank", title="Github").icon.icon-github
                        i.fab.fa-github
                li
                    a(href="https://www.linkedin.com/in/walternascimentobarroso", target="_blank", title="Linkedin").icon.icon-linkedin
                        i.fab.fa-linkedin
                li
                    a(href="mailto:walter.tir@gmail.com", target="_blank", title="Email").icon.icon-envelope
                        i.far.fa-envelope
        
        a(href="#")#toTop 
            i.fas.fa-arrow-up.centerarrow

        script(src="js/whatsapp.js")